body {
    padding: 0px;
    margin: 0px;
    font-family:'Lobster';
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: fixed;
}

.global_container {
    background-color: rgba(243, 237, 239, 0.541);
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}

.container_title {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.container_title p {
    text-align: center;
} 

.batle_container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.space_custom {
    border: 1px solid rgba(0, 0, 170, 0.404);
    background: linear-gradient(to bottom, rgba(0, 0, 170, 0.26), rgba(218, 86, 236, 0.664));
    display: flex;
    align-items: center;
    width: 130px;
    height: 360px
}

.container_space img {
    width: 100px;
    height: 100px;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.machine_option {
    border: 1px solid rgba(0, 0, 170, 0.404);
    background: linear-gradient(to bottom, rgba(0, 0, 170, 0.26), rgba(218, 86, 236, 0.664));
    display: flex;
    align-items: center;
    width: 130px;
}

.game_container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}